{
 :paths ["src"]
 :deps {
        org.clojure/clojure    { :mvn/version "1.11.1" }
        org.clojure/core.async { :mvn/version "1.5.648" }
        org.clojure/tools.cli { :mvn/version "1.0.206" }

        org.fudo/fudo-clojure {
                               :git/url "https://fudo.dev/public/fudo-clojure.git"
                               :sha "25467fceddcb9c81180ddb83f3e21f9ef21cd07f"
                               }

        org.eclipse.paho/org.eclipse.paho.client.mqttv3 { :mvn/version "1.2.5" }
        camel-snake-kebab/camel-snake-kebab { :mvn/version "0.4.2" }
        }
 :aliases {
           :test {
                  :extra-paths ["test"]
                  :extra-deps {
                               io.github.cognitect-labs/test-runner
                               {
                                :git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"
                                }
                               }
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test
                  }
           :build { :default-ns build }
           }
 }
