{
 :paths ["src"]
 :deps {
        ;; All dependencies are now built into Babashka:
        ;; - babashka.process (for shell commands)
        ;; - clojure.core.async (for concurrency)
        ;; - clojure.tools.cli (for CLI parsing)
        ;; - cheshire.core (for JSON)
        ;; 
        ;; This script no longer requires any external dependencies!
        }
 :aliases {
           ;; For running with regular Clojure (if needed for development):
           :jvm {
                 :extra-deps {
                              org.clojure/clojure    { :mvn/version "1.12.3" }
                              org.clojure/core.async { :mvn/version "1.8.741" }
                              org.clojure/tools.cli  { :mvn/version "1.3.250" }
                              }
                 }
           :test {
                  :extra-paths ["test"]
                  :extra-deps {
                               eftest/eftest {:mvn/version "0.6.0"}
                               }
                  :main-opts ["-e" "(require '[eftest.runner :refer [find-tests run-tests]]) (run-tests (find-tests \"test\"))"]
                  }
           }
 }
